html {
    /* font-family: sans-serif; */
    -webkit-text-size-adjust: 100%;
    -ms-text-size-adjust: 100%;
    font-family: "Ubuntu",sans-serif;
}

	html a {
		text-decoration: none;
		color: #d6f6ff;
		font-weight: bold;
	}


	html a:hover {
		text-decoration: none;
		color: #d6f6ff;
	}

	
body {
    margin: 0;
	background-color: #666 !important;
	display: block;
	
}

@font-face {
    font-family: myFirstFont;
    src: url(font/Fondamento-Regular.ttf);
}

nav {
	/* float: right; */
	/* margin: 0; */
	/* padding:0; */
	right: 0;
	position: absolute;
	list-style-type: none;
	/* margin-bottom: 10%; */
}

	nav li {
			display: inline;
			padding-top: 22.4px;
			padding-bottom: 22.4px;
			margin-left: 22.4px;
			/* color: white !important; */
	}

ul li {
	list-style-type: none;
}

/* title { */
	/* text-transform: uppercase; */
/* } */

/* .title { */
	/* text-transform: uppercase; */
/* } */

title {
	color: red;
	text-transform: uppercase;
}

.bandeGriseHeader {
	position : fixed;
	width: 100%;
	/* max-width: 1040px; */
	border : 0 auto 20px auto;
	padding: 0 20%;
	margin : 0;
	/* position: relative;	 */
	   /* z-index: 2 */
    font-size: 1rem;
	background-color : #666;
}

.logo{
	max-width: 100%;
    max-height: 100px;
    width: auto;
    height: auto;
    transition: 0.2s;
	display : inline-block;

} 

.img-top {
	display: block;
	/* margin-top: 10%; */
    /* margin: 0 auto; */
    width: 100%;
    height: auto;
}

#carteAccueil {
	display : inline;
}

.site-description { /*breizhtourisme.com*/
	color : white;
	font-size :  14px;
    text-transform: uppercase;
	margin : 0;
	background-color: #005f6b;
	text-align: left;
	padding : 0.8em 0 0.8em 20%;
	font-weight : bold;
	line-height : 1.6;
}

article{
	padding: 0 10%;
	color: white;
	    font-size: 1.75rem;
}

footer {
	background-color : #005f6b;
	    padding: 1.6em 10%;
}

	footer a {
		color : white;
	}


	footer a:hover {
		color : white;
	}
	
h1 {
	text-align: center;
	font-family: myFirstFont;
	font-style: normal;
}
	
h2, h3, h4, h5, h6 {
	color: black;
	text-transform: uppercase;
	font-family: myFirstFont;
}


/*faut rajouter 2 media queries*/
/* @media screen and (min-width: 768px) */
/*  
@media screen and (min-width: 768px){
	margin-left: auto;
    margin-right: auto;
    max-width: 1040px;
	
}	*/	