html {
    /* font-family: sans-serif; */
    -webkit-text-size-adjust: 100%;
    -ms-text-size-adjust: 100%;
    /* font-family: "Ubuntu",sans-serif; */
}

	html a {
		text-decoration: none;
		color: #d6f6ff;
		font-weight: bold;
	}


	html a:hover {
		text-decoration: none;
		color: #d6f6ff;
	}

	
body {
    margin: 0;
	background-color: #666 !important;
	display: block;
}

nav {
	/* float: right; */
	right: 0;
	position: absolute;
	list-style-type: none;
	/* margin-bottom: 10%; */
}

ul li {
	list-style-type: none;
}

p {
	color: #FFFFFF;

	font-size: 20px;

	padding-top: 50px;
	padding-bottom: 25px;

	display: flex;
	flex-flow: wrap;
	flex-direction: row;
	flex-wrap: wrap;
	justify-content: space-around;
	padding-left: 300px;
	padding-right: 300px;


}

h2 {
	margin: auto;
	flex-wrap: wrap;
	flex-direction: row;
	justify-content: space-around;
	flex-flow: wrap;
	padding-left: 300px;
	padding-right: 300px;
}

@font

/* title { */
	/* text-transform: uppercase; */
/* } */

/* .title { */
	/* text-transform: uppercase; */
/* } */

.bandeGriseHeader {
	/* position : fixed; */
	    /* max-width: 1040px; */
    margin-left: auto;
    margin-right: auto;
}

.logo{
	/* width :41px;  */
	/* height :70px; */
	max-width: 100%;
    max-height: 100px;
    width: auto;
    height: auto;
    transition: 0.2s;
	/* clear: both; */
	position: relative;	
} 

.img-top {
	display: block;
	/* margin-top: 10%; */
    /* margin: 0 auto; */
    width: 100%;
    height: auto;
}

.site-description { /*breizhtourisme.com*/
	color : white;
	font-weight: bold;
    padding: 0.8em 0;
    text-transform: uppercase;
	/* text-align: center; */
	background-color: #005f6b;
	text-align: left;
	line-height: 26px;
    /* line-height: 26px; */
    /* width: 50%;  */
}

.Crepe{
		
		height: auto;
		width: auto;
    	margin : auto;
    	
    	display: flex;
    	flex-direction: row;
    	flex-wrap: wrap;
    	flex-flow: row wrap;
    	justify-content: space-around;
}

.farBreton{

		height: auto;
		width: auto;
    	margin : auto;
    	
    	display: flex;
    	flex-direction: row;
    	flex-wrap: wrap;
    	flex-flow: row wrap;
    	justify-content: space-around;

}


.Cidre{

		height: auto;
		width: auto;
    	margin : auto;
    	
    	display: flex;
    	flex-direction: row;
    	flex-wrap: wrap;
    	flex-flow: row wrap;
    	justify-content: space-around;

}



.Beurre{

		height: auto;
		width: auto;
    	margin : auto;
    	
    	display: flex;
    	flex-direction: row;
    	flex-wrap: wrap;
    	flex-flow: row wrap;
    	justify-content: space-around;

}


.Mer{

		height: auto;
		width: auto;
    	margin : auto;
    	
    	display: flex;
    	flex-direction: row;
    	flex-wrap: wrap;
    	flex-flow: row wrap;
    	justify-content: space-around;

}



footer {
	background-color : #005f6b;
	    padding: 1.6em 5%;
}

	footer a {
		color : white;
	}


	footer a:hover {
		color : white;
	}
	
	
/*  
@media screen and (min-width: 768px){
	margin-left: auto;
    margin-right: auto;
    max-width: 1040px;
	
}	*/	